[Unit]
Description=Strafenkasse Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/strafenkasse-bot
ExecStart=/home/pi/strafenkasse-bot/venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
